.activeWorkspace {
    color: rgba(var(--accent-color));
    background-color: rgba(var(--accent-color), 0.2);
}

.workspaces {
    display: flex;
    gap: 12px;
    justify-content: center;
}

.btn {
    color: rgba(var(--accent-color));
}
