td,
th {
  text-align: left;
  padding: 8px;
}

.fileIcons button {
  all: unset;
  cursor: pointer;
  height: 20px;
  padding: 4px;
}

.fileIcons button:hover {
  background: #d8d2d2;
  border-radius: 50%;
  opacity: 0.8;
  transition: opacity 0.4s ease;
  z-index: 0;
}

.fileIcons img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
