.sidebar {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 24px;
  background: whitesmoke;
}

.btnNew {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border-color: black;
  width: fit-content;
  padding: 12px;
  background: whitesmoke;
}

.btnNew:hover {
  opacity: 0.7;
}

.btnNewText a {
  padding-left: 10px;
  color: black;
}

a:visited {
  color: inherit;
}

.btnNewImg {
  height: 25px;
}

.sidebarList {
  color: black;
  font-weight: 300;
  padding-top: 30px;
  padding-left: 5px;
  align-items: center;
}

.sidebarList li:nth-child(4) {
  margin-bottom: 20px;
}

.sidebarList li:nth-child(5):hover {
  background-color: transparent;
  color: inherit;
}

.sidebarEl {
  color: black;
  align-items: center;
  display: flex;
  gap: 12px;
  width: 100%;
  list-style: none;
  padding: 2px 12px;
}

.sidebarEl:hover {
  background-color: lightgray;
}


.sidebarImages {
  height: 24px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.sidebarLinks {
  font-size: 14px;
  margin-left: 10px;
  margin-top: 6px;
  margin-bottom: 6px;
  display: block;
}

.storageBar {
  background-color: lightgray;
  border-radius: 10px;
  width: 80%;
  height: 6px;
}

.storageBarProgress {
  background-color: royalblue;
  border-radius: 10px;
  height: 6px;
  width: 50%;
}

.storageInfo {
  font-size: 12px;
  display: block;
  padding-top: 8px;
}
