.headerMain {
  top: 0;;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 80px;
}

.user {
  display: flex;
  flex-direction: row;
  gap: 5px
}

.user button {
  width: 30px;
  height: 30px;
}

.userImg {
  height: 30px;
  width: 30px;
}

.user svg:hover {
  background: #d8d2d2;
  border-radius: 50%;
  opacity: 0.8;
  transition: opacity 0.4s ease;
}