.primaryButton {
  border-radius: 8px;
  border: none;
  transition: border-color 0.25s;
  background: transparent;
  outline: none;
  font-weight: bold;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 12px;
  padding: 8px 18px;
}
.submitButton{
  background: var(--accent-color);
}

.iconButton{
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

.destructionButton{
  background-color: rgba(
          var(--destruction-color)
          , var(--opacity-very-low)
  );
  transition: background-color 0.1s;
  color: rgb(var(--destruction-color));
}

.destructionButton:hover{
  background-color: rgba(
          var(--destruction-color)
          , var(--opacity-low)
  );
}


.ghostButton{
  color:  rgb(var(--accent-color));
  background-color: rgba(
          var(--accent-color)
    , var(--opacity-very-low)
  );
  transition: background-color 0.1s;
}

.ghostButton:hover{
  background-color: rgba(
          var(--accent-color)
    , var(--opacity-low)
  );
}

