.modalButton{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    button{
        color: rgb(var(--accent-color));
    }
}
.overlay{
    top: 36px;
    right: 0;
    height: 200px;
    background: rgba(var(--widgets-color));
    position: absolute;
}
.userInfo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    max-height: 200px;
}
.userInfo {
    img,svg {
        height: 150px;
        width: 150px;
        padding-bottom: 5px;
    }
}
.userInfoItem {
    margin: 5px;
    padding: 5px;
    border: 1px solid #ddd;
}
.changeAvatar {
    input {
        display: none;
    }
}
